/* Змінні */
/* :root {
  --primery-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --secondary-text-color: #757575;
} */
/* загальні значення */
/* body {
  font-family: "Roboto", "Tahoma", sans-serif;
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
  background-color: #ffffff;
} */
/* p {
  text-decoration: none;
  color: var(--secondary-text-color);
  margin: 0;
}
h1,
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.link {
  text-decoration: none;
  color: var(--primery-text-color);
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* скидання */
/* h1,
h2,
h3 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
} */
/*  */
/*  */
/*  */
/* heder */
/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */
/* .header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  border-bottom: 1px solid #ececec;
}
.header__logo {
  margin-right: 93px;
}
.logo {
  display: block;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo__style {
  color: var(--accent-color);
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav {
  margin-right: auto;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav__link--current,
.nav__link:hover,
.nav__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}
.nav__list,
.contact__list {
  display: flex;
  align-items: center;
}
.nav__link,
.contact__link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}
.contact__link {
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
}
.smartphone-icon,
.envelope-icon {
  fill: currentColor;
  margin-right: 10px;
} */

/* приховуємо заголовки які мають клас visually-hidden */
/* .visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  padding: 0;
  margin: 0;
} */
/*  */
/*  */
/*  */
/* Hero*/
/* .hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  width: 696px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 152px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/*  */
/*  */
/*  */
/* Список особливостей компанії-*/

/* .features__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  display: flex;
  gap: 30px;
}
.features__item {
  flex-basis: calc((100% - 90px) / 4);
}
.item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
}
.feature__icon {
  width: 70px;
  height: 70px;
} */
/*  */
/*  */
/*  */
/* секція фото */

/* .images__section {
  padding-bottom: 94px;
}
.images__title {
  margin-bottom: 50px;
}
.images__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.images__item {
  position: relative;
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
}
.images__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(0);
  width: 100%;
  height: 23.8%;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.images__decor {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
} */
/*  */
/*  */
/*  */
/* секція з фото команди i соц.мережами */
/* .team__section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}
.our__team {
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  flex-basis: calc((100% - 90px) / 4);
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card__space {
  padding: 30px 0;
}

.team__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 16px;
}
.social__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-self: center;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  fill: #afb1b8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: background-color;
  border-radius: 100%;
}
.team__icon {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
}
.social__link:hover {
  background-color: #2196f3;
}
.social__link:hover .team__icon {
  fill: #ffffff;
} */
/*  */
/*  */
/*  */
/* секція постійні клієнти */

/* .customers__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers__title {
  margin-bottom: 50px;
}
.customers__list {
  display: flex;
  gap: 30px;
}
.customers__hover {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__hover:hover,
.customers__hover:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.customers__icon {
  fill: currentColor;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
} */
/*  */
/*  */
/*  */
/* секція кнопки-портфоліо */
/* .portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list__button {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  cursor: pointer;
  color: var(--primery-text-color);
  background-color: var(--secondary-bg-color);
  border: 0;
}
.portfolio__button:hover,
.portfolio__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
/*  */
/*  */
/*  */
/*  картками-портфоліо */
/* .portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio__link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 370px;
  height: 404px;
  align-items: center;
  justify-items: center;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover,
.portfolio__ink:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__overlay {
  transform: translateY(0);
}
.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio__image {
  position: relative;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__decor {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}
.border {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 0;
} */
/*  */
/*  */
/*  */
/* Футер */
/* .footer {
  background-color: #2f303a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
  color: #ffffff;
  padding: 60px 0;
}
.footer__block {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}
.address__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__contact--link {
  display: flex;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer__contact--link:not(:last-child) {
  margin-bottom: 9px;
}
.footer__contact--link:hover,
.footer__contact--link:focus {
  color: var(--accent-color);
}
.footer__social {
  margin-left: 70px;
}
.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.social__list {
  display: flex;
  gap: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: background-color;
}
.footer__icon {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: fill;
}

.social__link:hover {
  background-color: var(--accent-color);
}
.social__link:hover .footer__icon {
  fill: #ffffff;
}
.form__block {
  margin-left: 93px;
}
.footer__form {
  align-items: center;
  justify-content: center;
}
.footer__form--field {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4 4 rgba(0, 0, 0, 0.15);
  outline: 1px solid transparent;
  background-color: transparent;
  outline-offset: -1px;
  color: #ffffff;
  align-items: center;
}
.footer__form--field:focus {
  border: 1px solid var(--accent-color);
}
.footer__button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 28px;
  align-items: center;
}
.footer__button:focus {
  border: 1px solid var(--accent-color);
}
.icon__send {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #ffffff;
} */
/*  */
/*  */
/*  */
/* modal window */
/* .backdrop {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-property: -webkit-transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
}
.modal-button-icon {
  transform: translateX(20%) translateY(20%);
}
.modal-close-button:hover,
.modal-close-button:focus {
  fill: #2196f3;
} */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* .modal {
  padding: 40px;
}
.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form-style {
  position: relative;
  margin-bottom: 10px;
}
.modal-form-field {
  height: 40px;
}
.modal-user-message,
.modal-form-field {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 1px solid transparent;
  outline-offset: -1px;
  width: 100%;
  padding-left: 42px;
  padding-right: 42px;
}
.modal-user-message {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  resize: none;
  width: 448px;
  height: 120px;
}
.modal-form-field:focus {
  border: 1px solid #2196f3;
}
.modal-user-message:focus {
  border: 1px solid #2196f3;
}
.modal-icon-style {
  position: absolute;
  top: 11px;
  left: 12px;
}

.modal-form-field:focus + .modal-icon-style {
  fill: #2196f3;
}
.modal-form-agreement {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-bottom: 30px;
}
.modal-form-checkbox {
  -webkit-appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  align-items: center;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agreement-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  -webkit-user-select: none;
}
.modal-form-link {
  color: #2196f3;
}
.modal-form-link:focus {
  border: 1px solid #2196f3;
}
.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}
.modal-form-checkbox:checked {
  background-color: #2196f3;
  border-color: transparent;
  background-size: 11px 8px;
} */
