.features__section {
    padding-top: 60px;
    padding-bottom: 60px;

    // @media screen and (min-width: 1200px) {
    //     padding-top: 94px;
    //     padding-bottom: 94px;
    // }
}

.features {

    &__list {
        display: flex;
        gap: 30px;
        
    
    }
    &__item {
        flex-basis: calc((100% - 90px) / 4);
        @media screen and (min-width: 767px) {
            flex-basis: calc((100% - 30px) / 2);
        }
        // @media screen and (min-width: 768px) and (max-width: 1199px) {
        //     flex-basis: 50%;
        // }
    }
    
    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.17;
        margin-bottom: 10px;
    //     @media screen and (max-width: 767px) {
    // }
    }
    &__text {
        font-size: 14px;
        line-height: 1.71;
    }
}
.item__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    // @media screen and (min-width: 480px) {
    //     width: 100%;
    // }

}
.item__icon {
    width: 70px;
    height: 70px;
}
