.hero {
    max-width: 480px;
    height: 400px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 198px;
    text-align: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero_bg/header-img_sm@1x.webp);
        // retina mobile screen
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero_bg/header-img_sm@2x.webp);
    }
}
.hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    max-width: 360px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 768px) {
        max-width: 360px;

        
    }
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        min-width: 696px;
        
    }
}




@media screen and (min-width: 481px) {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../images/hero_bg/header-img_md@1x.webp);
        // retina tablet screen
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero_bg/header-img_md@2x.webp);
        }
    }
    }
}

@media screen and (min-width: 769px) {
    .hero {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 280px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero_bg/header-img_lg@1x.webp);

        // retina desktop screen
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero_bg/header-img_lg@2x.webp);
        }
    }
    }
}
.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 152px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    color: #ffffff;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

}

