.images__section {
    padding-bottom: 94px;
}
.images {
    &__title {
         margin-bottom: 50px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__item {
        position: relative;
        width: 370px;
        flex-basis: calc((100% - 60px) / 3);
    }
    &__overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(0);
        width: 100%;
        height: 23.8%;
        background-color: rgba(47, 48, 58, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__decor {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        font-style: normal;
        text-transform: uppercase;
        color: #ffffff;
    }

}
