
.team__section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.our__team {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}
.team {
    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }

    }
    &__item {
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 
        0px 4px 4px;
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 30px) / 2);
        }
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 90px) / 4);
        }
    }
    &__title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.17;
        margin-bottom: 10px;
    }
    
    &__text {
        font-size: 16px;
        line-height: 1.17;
        margin-bottom: 16px;
    }
    &__icon {
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        transition-property: fill;
    }
}
.card__space {
    padding: 30px 0;
}
.social__list {
    display: flex;
    gap: 10px;
    justify-content:space-around;
    
}
.social__item {
    width: 44px;
    height: 44px;
}

.social__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    fill: #afb1b8;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color;
    border-radius: 100%;

    &__link:hover {
        background-color: #2196f3;
    }
}
.social__link:hover .team__icon {
    fill: #ffffff;
}